   :root{
    --subcor: #8d4ca1;
   }
   @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');
   @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    *{
        margin: 0;
        padding: 0;
        border: 0;
        }
    body {
        background-color: #1d1920;
    }

    header {
        padding: 32px;
        border-bottom: 4px solid #8e5bd4;
        background-color: rgba(0, 0, 0, 0.1);
    }
    header div {
        text-align: center;
       }
       header div a {
        color: #8e5bd4;
        font-size: 33px;
        line-height: 20px;
        margin: 0 16px;
        text-decoration: none;
        font-weight: 500;
        font-style: normal;
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-style: normal;
        }
header div a:hover {
    color: #cfbbec;
    transition: color 700ms;
}
#box {
    color: rgb(255, 255, 255);
   text-align: center; 
   padding: 32px;  
   font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#box img {
   border-radius: 50%; 
   border: 5px  solid #470041 ; 
   margin-bottom: 32px; 
   
}

#box h1 {
   font-size: 60px; 
   line-height: 52px; 
   font-weight: bold; 
   font-weight: bolder;
}
#box h2 {
   font-size: 30px; 
   line-height: 34px; 
   font-weight: bold;   
   margin-top: 20px; 
   opacity: 0.67;  
}  

#box p {
   max-width: 500px;  
   margin: 20px auto; 
   font-size: 24px;  
   line-height: 34px;
   font-weight: bold;
   opacity: 0.67; 
   }
   
#box a {
    color: green;
   }
#linksFooter {
     font-size: 33px;
        line-height: 20px;
        margin: 0 16px;
        text-decoration: none;
        padding: 32px;
        text-align: center;
}
#linksFooter a {
        color: #7641c2;
        padding-top: 32px;
        padding-bottom: 1.4px;
        border-bottom: 3px solid var(--subcor);
        font-size: 30px;
        line-height: 20px;
        margin: 0 16px;
        text-decoration: none;
        font-family: "Oswald", sans-serif;
        font-weight: 500;
        font-style: Bold;
}
#linksFooter a:hover {
    color: #8e4a91;
    transition: color 700ms;
}
